@font-face {
    font-family: 'Russo One';
    src: url('fonts/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tenor Sans';
    src: url('fonts/TenorSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jura';
    src: url('fonts/Jura-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa-Regular.ttf') format('truetype');
}

html,
body {
    overflow-x: hidden;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
    min-height: 920px;
}

.footer {
    height: 60px;
    background-color: #ffe9d9;
    border-top: 1px solid #ffe9d9;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

select.form-control.inactive {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: default;
}

div.required label.control-label:after {
    content: " *";
    color: red;
}

/* Hover для кнопок меню */
/*.btn-primary:hover {
    background-color: #286090 !important;
} */

ul.breadcrumb {
    background-color: #d9edf7;
}

div.insideforms {
    overflow-y: auto;
    max-height: 600px;
}

div.modal_filter > div.modal-dialog {
    width: 700px;
}

.container {
    width: 80%;
}

tr.spisanie > td {
    background-color: #D4D4D4;
}

table.kv-grid-table {
    font-size: 11px;
}

table.kv-grid-table > thead > tr > td > input.form-control, table.kv-grid-table > thead > tr > td > select.form-control {
    font-size: 11px;
    height: 25px;
}

input.inputuppercase {
    text-transform: uppercase;
}

input.applyfiltercolor, select.applyfiltercolor, span.applyfiltercolor, ul.applyfiltercolor, li.applyfiltercolor {
    background: #bdffbc !important;
}

label.applyfiltercolor, label.control-label.applyfiltercolor {
    color: #27a526;
    font-weight: bold;
}

.buttonside {
    color: white;
    font-size: 20px;
    position: fixed;
    background-color: #fee0cb;
    border: white solid 5px;
    height: 90px;
    bottom: 50px;
    width: 90px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
    /*Запретить выделение текста*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div#scrollupbutton {
    right: 50px;
}

a#backbutton {
    left: 50px;
}

a#backbutton:focus {
    outline: none;
    color: white;
}

a#backbutton:hover:focus {
    outline: none;
    color: #fee0cb;
}

.buttonside:hover, .buttonside:hover {
    background-color: white;
    color: #fee0cb;
}

.buttonside > span {
    position: absolute;
    top: 25px;
    left: 6px;
}

/* Menu Fregat begin*/
.menubutton {
    cursor: pointer;
    width: 320px;
    height: 100px;
    position: relative;
    box-shadow: 10px 10px 50px rgba(62, 23, 0, 0.18);
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.menublock {
    width: 320px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    float: left;
    cursor: default;
}

.menubutton.menubutton_activeanim:active {
    animation: plitka_anim 0.3s;
    animation-fill-mode: forwards;
}

@keyframes plitka_anim {
    from {
        transform: scale(1);
        box-shadow: 10px 10px 50px rgba(0, 41, 62, 0.18);
    }
    to {
        transform: scale(0.97);
        box-shadow: 5px 5px 25px rgba(62, 0, 0, 0.57)
    }
}

.menubutton:hover > span.hoverspan {
    opacity: 1;
    transition: opacity 0.3s;
}

.menubutton > span.hoverspan {
    opacity: 0;
    transition: opacity 0.3s;
}

.menubutton:active > span.hoverspan {
    opacity: 0.8;
    transition: opacity 0.3s;
}

@keyframes start {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@-webkit-keyframes start {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

.menublock .menubutton /*[data-state="init"]*/
{
    display: none;
}

.menublock .menubutton[data-state="start"] {
    display: block;
    animation: start 0.5s;
    -webkit-animation: start 0.5s;
}

.menublock .menubutton[data-state="move"] {
    transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
    -webkit-transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
}

.menubutton .menubutton_cn {
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 20px;
    -webkit-transform: translateZ(0px);
}

.menubutton.mb_blue:hover .menubutton_cn,
.menubutton.mb_red:hover .menubutton_cn,
.menubutton.mb_green:hover .menubutton_cn,
.menubutton.mb_yellow:hover .menubutton_cn,
.menubutton.mb_gray:hover .menubutton_cn {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
    transition: color 0.3s;
    -webkit-transform: translateZ(0px);
}

.menubutton.mb_blue:hover .menubutton_cn,
.menubutton.mb_red:hover .menubutton_cn,
.menubutton.mb_green:hover .menubutton_cn,
.menubutton.mb_yellow:hover .menubutton_cn,
.menubutton.mb_gray:hover .menubutton_cn {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
    transition: color 0.5s;
    -webkit-transform: translateZ(0px);
}

.menubutton .hoverspan {
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    opacity: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e87363+1,774c45+50,6c322a+52,7f3939+100 */
    background: rgb(232, 115, 99); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(232, 115, 99) 1%, rgb(119, 76, 69) 50%, rgb(108, 50, 42) 52%, rgb(127, 57, 57) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(232, 115, 99) 1%, rgb(119, 76, 69) 50%, rgb(108, 50, 42) 52%, rgb(127, 57, 57) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(232, 115, 99) 1%, rgb(119, 76, 69) 50%, rgb(108, 50, 42) 52%, rgb(127, 57, 57) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e87363', endColorstr='#7f3939', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    box-shadow: inset 0 0 0px 10px #d5857a;
}

.menubutton.mb_green {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#effce8+0,d3f8c2+50,c2ebab+52,e5fada+100 */
    background: rgb(239, 252, 232); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(239, 252, 232) 0%, rgb(211, 248, 194) 50%, rgb(194, 235, 171) 52%, rgb(229, 250, 218) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(239, 252, 232) 0%, rgb(211, 248, 194) 50%, rgb(194, 235, 171) 52%, rgb(229, 250, 218) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(239, 252, 232) 0%, rgb(211, 248, 194) 50%, rgb(194, 235, 171) 52%, rgb(229, 250, 218) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#effce8', endColorstr='#e5fada', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    border: solid 10px rgb(234, 250, 226);
}

.menubutton.mb_green > div.menubutton_cn {
    color: #98b489;
    text-shadow: 2px 0 0 #EAFAE2, -2px 0 0 #EAFAE2, 0 2px 0 #EAFAE2, 0 -2px 0 #EAFAE2, 1px 1px #EAFAE2, -1px -1px 0 #EAFAE2, 1px -1px 0 #EAFAE2, -1px 1px 0 #EAFAE2;
    transition: color 0.3s, text-shadow 0.9s;
}

.menubutton.mb_red {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fee7de+0,febfa6+50,ffac8c+51,fdd8c9+100 */
    background: rgb(254, 231, 222); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(254, 231, 222) 0%, rgb(254, 191, 166) 50%, rgb(255, 172, 140) 51%, rgb(253, 216, 201) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(254, 231, 222) 0%, rgb(254, 191, 166) 50%, rgb(255, 172, 140) 51%, rgb(253, 216, 201) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(254, 231, 222) 0%, rgb(254, 191, 166) 50%, rgb(255, 172, 140) 51%, rgb(253, 216, 201) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee7de', endColorstr='#fdd8c9', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    border: solid 10px rgb(254, 231, 222);
}

.menubutton.mb_red > div.menubutton_cn {
    color: #b48e80;
    text-shadow: 2px 0 0 #FEE7DE, -2px 0 0 #FEE7DE, 0 2px 0 #FEE7DE, 0 -2px 0 #FEE7DE, 1px 1px #FEE7DE, -1px -1px 0 #FEE7DE, 1px -1px 0 #FEE7DE, -1px 1px 0 #FEE7DE;
    transition: color 0.3s, text-shadow 0.9s;
}

.menubutton.mb_yellow {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fef5de+0,fee6a6+50,ffdc7d+51,fdefc9+100 */
    background: rgb(254, 245, 222); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(254, 245, 222) 0%, rgb(254, 230, 166) 50%, rgb(255, 220, 125) 51%, rgb(253, 239, 201) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(254, 245, 222) 0%, rgb(254, 230, 166) 50%, rgb(255, 220, 125) 51%, rgb(253, 239, 201) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(254, 245, 222) 0%, rgb(254, 230, 166) 50%, rgb(255, 220, 125) 51%, rgb(253, 239, 201) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef5de', endColorstr='#fdefc9', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    border: solid 10px rgb(254, 245, 222);
}

.menubutton.mb_yellow > div.menubutton_cn {
    color: #b9a46e;
    text-shadow: 2px 0 0 #FEF5DE, -2px 0 0 #FEF5DE, 0 2px 0 #FEF5DE, 0 -2px 0 #FEF5DE, 1px 1px #FEF5DE, -1px -1px 0 #FEF5DE, 1px -1px 0 #FEF5DE, -1px 1px 0 #FEF5DE;
    transition: color 0.3s, text-shadow 0.9s;
}

.menubutton.mb_blue {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9d7fd+0,a6befe+50,93b2ff+51,c9d7fd+100 */
    background: rgb(201, 215, 253); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(201, 215, 253) 0%, rgb(166, 190, 254) 50%, rgb(147, 178, 255) 51%, rgb(201, 215, 253) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(201, 215, 253) 0%, rgb(166, 190, 254) 50%, rgb(147, 178, 255) 51%, rgb(201, 215, 253) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(201, 215, 253) 0%, rgb(166, 190, 254) 50%, rgb(147, 178, 255) 51%, rgb(201, 215, 253) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9d7fd', endColorstr='#c9d7fd', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    border: solid 10px rgb(222, 231, 254);
}

.menubutton.mb_blue > div.menubutton_cn {
    color: #8c9cc3; /* #647bb7; */
    text-shadow: 2px 0 0 #DEE7FE, -2px 0 0 #DEE7FE, 0 2px 0 #DEE7FE, 0 -2px 0 #DEE7FE, 1px 1px #DEE7FE, -1px -1px 0 #DEE7FE, 1px -1px 0 #DEE7FE, -1px 1px 0 #DEE7FE;
    transition: color 0.3s, text-shadow 0.9s;
}

.menubutton.mb_gray {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,d2d2d2+50,bebebe+51,e3e3e3+100 */
    background: rgb(238, 238, 238); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(238, 238, 238) 0%, rgb(210, 210, 210) 50%, rgb(190, 190, 190) 51%, rgb(227, 227, 227) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(238, 238, 238) 0%, rgb(210, 210, 210) 50%, rgb(190, 190, 190) 51%, rgb(227, 227, 227) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(210, 210, 210) 50%, rgb(190, 190, 190) 51%, rgb(227, 227, 227) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e3e3e3', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    border: solid 10px rgb(238, 238, 238);
}

.menubutton.mb_gray > div.menubutton_cn {
    color: #9e9e9e;
    text-shadow: 2px 0 0 #EEEEEE, -2px 0 0 #EEEEEE, 0 2px 0 #EEEEEE, 0 -2px 0 #EEEEEE, 1px 1px #EEEEEE, -1px -1px 0 #EEEEEE, 1px -1px 0 #EEEEEE, -1px 1px 0 #EEEEEE;
    transition: color 0.3s, text-shadow 0.9s;
}

/* Menu Fregat end*/

/* Избавляемся от margin для формы фильтра в select2 с галочкой "НЕ" begin */

div.notforselect2 > span.input-group-addon > div.form-group {
    margin: 0;
}

div.notforselect2 > span.input-group-addon > div.form-group > div.checkbox {
    margin: 0;
}

label.labelbold {
    font-weight: bold;
}

/* Избавляемся от margin для формы фильтра в select2 с галочкой "НЕ" end */

/*div.wrap {
    background: linear-gradient(rgba(255, 255, 255, .2) 40%, rgba(255, 255, 255, 0) 40%), linear-gradient(rgba(255, 255, 162, 0.7), rgba(255, 255, 255, 0));
    background-size: 15px 20px, 100%;
    background-color: #ffa595;
}*/
div.wrap {
    /* background-color: #fed9be;*/
    /*    background-color: rgb(255, 233, 217);
        background-size: 58px 58px;
        background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px,
        0px 36px, 4px 2px, 29px 6px, 33px 30px;
        background-image: linear-gradient(335deg, #fed9be 23px, transparent 23px),
        linear-gradient(155deg, #fed9be 23px, transparent 23px),
        linear-gradient(335deg, #fed9be 23px, transparent 23px),
        linear-gradient(155deg, #fed9be 23px, transparent 23px),
        linear-gradient(335deg, #fed9be 10px, transparent 10px),
        linear-gradient(155deg, #fed9be 10px, transparent 10px),
        linear-gradient(335deg, #fed9be 10px, transparent 10px),
        linear-gradient(155deg, #fed9be 10px, transparent 10px);

    */
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), #FED9BE;
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), #FED9BE;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), #FED9BE;
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;

}

div.container.body-container {
    /*  background-color: #feeebe;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff8e3+0,fedece+48,fce3d6+50,fff8e3+100 */
    background: rgb(255, 248, 227); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgb(255, 248, 227) 0%, rgb(254, 222, 206) 48%, rgb(252, 227, 214) 50%, rgb(255, 248, 227) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgb(255, 248, 227) 0%, rgb(254, 222, 206) 48%, rgb(252, 227, 214) 50%, rgb(255, 248, 227) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgb(255, 248, 227) 0%, rgb(254, 222, 206) 48%, rgb(252, 227, 214) 50%, rgb(255, 248, 227) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8e3', endColorstr='#fff8e3', GradientType=1); /* IE6-9 fallback on horizontal gradient */

    box-shadow: 0 0 15px 10px #ecc5a8, 0 0 0px 15px #ffe9d9;
}

/*div.panel-body {
    background: linear-gradient(#ddd, rgba(255,255,255,0.3) 1px),
    linear-gradient(90deg, #ddd, rgba(255,255,255,0.3) 1px);
    background-size: 10px 10px;
    background-position: center center;
    border: 1px solid mediumvioletred;
}*/

div.panel-body {
    background-color: rgba(255, 255, 255, 0.5);;
    /*   background-image: linear-gradient(#5a77a0, transparent 1px);
       background-size: 1.5em 1.5em;
       box-shadow: 1px 1px 2px rgba(169, 75, 129, 0.15), -1px 0px 2px rgba(169, 75, 129, 0.15);*/
}

div.panel.panel-info {
    background-color: rgba(210, 217, 255, 0.1);
}

div.panel.menuplitka div.panel-body {
    background: transparent;
    box-shadow: none;
}

div.panel.menuplitka {
    background: transparent;
    min-height: 590px;
}

.panel-info > .panel-heading.base-heading {
    color: #d08b94;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b79cac+0,a73f7a+50,c14382+100 */
    background: rgb(183, 156, 172); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(183, 156, 172, 1) 0%, rgb(89, 1, 11) 50%, rgba(193, 67, 130, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(183, 156, 172, 1) 0%, rgb(89, 1, 11) 50%, rgba(193, 67, 130, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(183, 156, 172, 1) 0%, rgb(89, 1, 11) 50%, rgba(193, 67, 130, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b79cac', endColorstr='#c14382', GradientType=0); /* IE6-9 */

    /*   border: #420200 solid 1px;*/
    font-family: 'Russo One', sans-serif;
    box-shadow: 1px 0px 2px rgba(169, 75, 129, 0.15), -1px -1px 2px rgba(169, 75, 129, 0.15);
}

.panel-info > .panel-heading, .panel-primary > .panel-heading {
    color: rgb(183, 159, 157);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b79f9d+0,562001+50,bf442b+100 */
    background: rgb(183, 159, 157); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(183, 159, 157) 0%, rgb(86, 32, 1) 50%, rgb(191, 68, 43) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(183, 159, 157) 0%, rgb(86, 32, 1) 50%, rgb(191, 68, 43) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(183, 159, 157) 0%, rgb(86, 32, 1) 50%, rgb(191, 68, 43) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b79f9d', endColorstr='#bf442b', GradientType=0); /* IE6-9 */

    /*   border: #420200 solid 1px;*/
    font-family: 'Russo One', sans-serif;
    box-shadow: 1px 0px 2px rgba(169, 103, 75, 0.15), -1px -1px 2px rgba(169, 89, 75, 0.15);
}

.panel-info > .panel-heading2 {
    color: #d35f11;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbe7db+0,fddac3+44,fec8a2+51,fddac3+100 */
    background: rgb(251, 231, 219); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(251, 231, 219) 0%, rgb(253, 218, 195) 44%, rgb(254, 200, 162) 51%, rgb(253, 218, 195) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(251, 231, 219) 0%, rgb(253, 218, 195) 44%, rgb(254, 200, 162) 51%, rgb(253, 218, 195) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(251, 231, 219) 0%, rgb(253, 218, 195) 44%, rgb(254, 200, 162) 51%, rgb(253, 218, 195) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbe7db', endColorstr='#fddac3', GradientType=0); /* IE6-9 */

    font-family: 'Russo One', sans-serif;
    /*  border: #cd7095 solid 1px;*/
    box-shadow: 1px 0px 2px rgba(169, 75, 129, 0.15), -1px -1px 2px rgba(169, 75, 129, 0.15);
}

.panel-info > .panel-heading3 {
    color: #d5b8be;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#542632+0,720011+51,b77783+100 */
    background: rgb(84, 38, 50); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(84, 38, 50) 0%, rgb(114, 0, 17) 51%, rgb(183, 119, 131) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(84, 38, 50) 0%, rgb(114, 0, 17) 51%, rgb(183, 119, 131) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(84, 38, 50) 0%, rgb(114, 0, 17) 51%, rgb(183, 119, 131) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#542632', endColorstr='#b77783', GradientType=1); /* IE6-9 fallback on horizontal gradient */

    /*   border: #420200 solid 1px;*/
    font-family: 'Russo One', sans-serif;
    box-shadow: 1px 0px 2px rgba(169, 75, 129, 0.15), -1px -1px 2px rgba(169, 75, 129, 0.15), inset 0 0 0px 4px #b57480;
}

.panel-info {
    border-color: transparent;
}

ul.breadcrumb {
    background-color: #420200;
    padding: 0 15px;
}

.breadcrumb > li + li:before {
    padding: 0;
}

ul.breadcrumb li a {
    position: relative;
    z-index: 9;
    display: inline-block;
    background: rgb(66, 2, 0); /* Old browsers */
    -webkit-transform: translateZ(0px);
    font-family: 'Tenor Sans', cursive;
    color: #ffab7e;
    text-decoration: none;
    padding: 4px 0;
}

ul.breadcrumb li, .breadcrumb > .active {
    font-family: 'Tenor Sans', cursive;
    color: #fed3a2;
    padding: 8px 4px;
    background: rgb(66, 2, 0);
    text-shadow: rgb(66, 2, 0) 0 0 10px, rgb(66, 2, 0) 0 0 5px, rgb(66, 2, 0) 0 0 5px;
    box-shadow: inset rgb(66, 2, 0) 0 0 2px 7px;
}

.breadcrumb > .active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#420200+0,db8785+22,db8785+58,420200+100 */
    background: rgb(66, 2, 0); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(66, 2, 0, 1) 0%, rgba(219, 135, 133, 1) 22%, rgba(219, 135, 133, 1) 58%, rgba(66, 2, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(66, 2, 0, 1) 0%, rgba(219, 135, 133, 1) 22%, rgba(219, 135, 133, 1) 58%, rgba(66, 2, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(66, 2, 0, 1) 0%, rgba(219, 135, 133, 1) 22%, rgba(219, 135, 133, 1) 58%, rgba(66, 2, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#420200', endColorstr='#420200', GradientType=1); /* IE6-9 */

    text-shadow: rgb(66, 2, 0) 0 0 10px, rgb(66, 2, 0) 0 0 5px, rgb(66, 2, 0) 0 0 5px;
    box-shadow: inset rgb(66, 2, 0) 0 0 2px 7px;
}

.bc_lighter {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#420200+0,d25d42+22,d04e34+35,dd563b+44,f16e51+58,420200+100 */
    background: rgb(66, 2, 0); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(66, 2, 0, 1) 0%, rgba(210, 93, 66, 1) 22%, rgba(208, 78, 52, 1) 35%, rgba(221, 86, 59, 1) 44%, rgba(241, 110, 81, 1) 58%, rgba(66, 2, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(66, 2, 0, 1) 0%, rgba(210, 93, 66, 1) 22%, rgba(208, 78, 52, 1) 35%, rgba(221, 86, 59, 1) 44%, rgba(241, 110, 81, 1) 58%, rgba(66, 2, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(66, 2, 0, 1) 0%, rgba(210, 93, 66, 1) 22%, rgba(208, 78, 52, 1) 35%, rgba(221, 86, 59, 1) 44%, rgba(241, 110, 81, 1) 58%, rgba(66, 2, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#420200', endColorstr='#420200', GradientType=1); /* IE6-9 */
}

@keyframes bc_ligter_anim {
    /* You could think of as "step 1" */
    0% {
        opacity: 0;
    }
    /* You could think of as "step 2" */
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bc_ligter_text_anim {
    /* You could think of as "step 1" */
    0% {
        color: #ffab7e;
    }
    /* You could think of as "step 2" */
    50% {
        color: #ff945b;
        text-shadow: rgb(0, 0, 0) 0 0 10px, rgb(0, 0, 0) 0 0 5px, rgb(0, 0, 0) 0 0 5px;
    }
    100% {
        color: #ffab7e;
    }
}

ul.breadcrumb li a:hover .bc_lighter {
    -webkit-animation: bc_ligter_anim 0.6s 1;
    animation: bc_ligter_anim 0.6s 1;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

ul.breadcrumb li a:hover {
    -webkit-animation: bc_ligter_text_anim 0.6s 1;
    animation: bc_ligter_text_anim 0.6s 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

label.control-label {
    font-family: 'Tenor Sans', sans-serif;
    color: #59010b;
}

.select2-container--bootstrap .select2-selection, input.form-control, ul.select2-results__options li {
    font-family: 'Jura', sans-serif;
    color: #420200;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection, .select2-container--bootstrap .select2-dropdown {
    border-color: #420200;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 5px rgba(66, 2, 0, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 5px rgba(66, 2, 0, .6);
}

li.select2-results__option--highlighted[aria-selected] {
    background-color: #420200 !important;
    color: rgb(251, 231, 219) !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #420200;
}

.form-control:focus,
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    border-color: #f4c7b0;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 5px rgba(255, 226, 215, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 5px rgba(255, 226, 215, 0.6);
}

.panel-primary {
    border-color: #420200;
}

.pagination > li > a {
    color: #420200;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover {
    background-color: #420200;
    border-color: #420200;
}

a[data-sort] {
    color: #773b2f;
}

/* Effect 21: borders slight translate */
ul.navbar-nav.navbar-right.nav {
    margin-top: 5px;
}

ul.navbar-nav.navbar-right.nav li a {
    padding: 10px;
    color: rgb(255, 248, 227);
    font-family: 'Jura', sans-serif;
    text-shadow: none;
    -webkit-transition: color 0.3s;
    -webkit-transform: translateZ(0px);
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

ul.navbar-nav.navbar-right.nav li a::before,
ul.navbar-nav.navbar-right.nav li a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(255, 248, 227);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

ul.navbar-nav.navbar-right.nav li a::before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

ul.navbar-nav.navbar-right.nav li a::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

ul.navbar-nav.navbar-right.nav li a:hover,
ul.navbar-nav.navbar-right.nav li a:focus {
    color: rgb(255, 248, 227);
}

ul.navbar-nav.navbar-right.nav li a:hover::before,
ul.navbar-nav.navbar-right.nav li a:focus::before,
ul.navbar-nav.navbar-right.nav li a:hover::after,
ul.navbar-nav.navbar-right.nav li a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

div.collapse.navbar-collapse, a.navbar-brand, nav.navbar-inverse.navbar-fixed-top.navbar, ul.navbar-nav.navbar-right.nav {
    background-color: #59010b;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #59010b;
}

ul.navbar-nav.navbar-right.nav li.active a::before,
ul.navbar-nav.navbar-right.nav li.active a::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    background: #ffc79d;
}

ul.navbar-nav.navbar-right.nav li.active a {
    color: #ffc79d;
    -webkit-transform: translateZ(0px);
}

.navbar-brand {
    font-family: 'Comfortaa', cursive;
    color: rgb(255, 248, 227) !important;
}

.panel-default > .panel-heading, div.modal-footer {
    background: rgb(255, 233, 217); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 233, 217, 1) 0%, rgba(254, 217, 190, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 233, 217, 1) 0%, rgba(254, 217, 190, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(255, 233, 217) 0%, rgb(254, 217, 190) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf4', endColorstr='#fff8e3', GradientType=0); /* IE6-9 */

    box-shadow: inset 0 0 2px rgba(255, 255, 255, .7), inset 0 0 4px rgba(255, 255, 255, .7), inset 0 0 6px rgba(255, 255, 255, .5);
    border: #c19594 solid 1px;
}

div.modal-header {
    color: #d08b94;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b79cac+0,a73f7a+50,c14382+100 */
    background: rgb(183, 156, 172); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(183, 156, 172, 1) 0%, rgb(89, 1, 11) 50%, rgba(193, 67, 130, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(183, 156, 172, 1) 0%, rgb(89, 1, 11) 50%, rgba(193, 67, 130, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(183, 156, 172, 1) 0%, rgb(89, 1, 11) 50%, rgba(193, 67, 130, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b79cac', endColorstr='#c14382', GradientType=0); /* IE6-9 */

    /*   border: #420200 solid 1px;*/
    font-family: 'Russo One', sans-serif;
}

div.modal-header h3 {
    font-size: 14px;
}

button.close {
    color: #e499a2;
}

button.close:hover, button.close:focus {
    color: #ffa8b2;
}

div.modal-body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff8e3+0,fedece+48,fce3d6+50,fff8e3+100 */
    background: rgb(255, 248, 227); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgb(255, 248, 227) 0%, rgb(254, 222, 206) 48%, rgb(252, 227, 214) 50%, rgb(255, 248, 227) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgb(255, 248, 227) 0%, rgb(254, 222, 206) 48%, rgb(252, 227, 214) 50%, rgb(255, 248, 227) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgb(255, 248, 227) 0%, rgb(254, 222, 206) 48%, rgb(252, 227, 214) 50%, rgb(255, 248, 227) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8e3', endColorstr='#fff8e3', GradientType=1); /* IE6-9 fallback on horizontal gradient */

}

.sortable li {
    background: rgba(255, 255, 255, 0.65);
}

div.bootbox-body {
    font-family: 'Tenor Sans', sans-serif;
    color: #59010b;
}

body.modal-open {
    padding-right: 0 !important; /* Костыль Bootstrap, в body.modal-open зачемто добаляет padding-right: 17px;  */
}

button.btn-primary, button.btn-primary:focus, button.btn-primary:active:focus {
    color: #fff;
    background-color: rgb(66, 2, 0);
    border-color: rgb(42, 1, 0);
}

button.btn-primary:hover {
    color: #fff;
    background-color: rgb(99, 16, 15);
    border-color: rgb(42, 1, 0);
    outline: 5px auto rgb(42, 1, 0);
}

button.btn-primary:active:hover, button.btn-primary:active {
    color: #fff;
    background-color: rgb(152, 26, 22);
    border-color: rgb(42, 1, 0);
    outline: 5px auto rgb(42, 1, 0);
}

.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active {
    background-color: rgb(103, 18, 16);
    border-color: rgb(42, 1, 0);
}

.datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus {
    background-color: rgb(82, 14, 13);
    border-color: rgb(42, 1, 0);
}


/* Стиль скроллинга begin */

::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(237, 135, 123, 0.45);
}

::-webkit-scrollbar-thumb
{
    background: rgba(159, 53, 50, 0.77);
}

/* Стиль скроллинга end */